body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.02em;
}

.logo-std {
    color: #2e2f42;
}

.navlink {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
} 


.navlink:hover,
.navlink:focus {
color: #404bbf;
}

.contact {
    font-style: normal;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: #434455;
}

.opening-sect {
    background-color:#2E2F42;
}

.opening-sect-h {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;  
    color: #fff;
    text-align: center;
}

.opening-sect-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.opening-sect-btn:hover,
.opening-sect-btn:focus {
    background-color: #404bbf;
}

.second-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.infos-p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;  
}

.team-sect {
    background-color: #f4f4fd;
}

.team-info {
    background-color: #fff;
}

.portf-img {
    width: 360px;
    height: 420px;
}

.footer {
    background-color: #2e2f42;
}

.footer-std {
    color: #f4f4fd;
}

.footer-details {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}